PORT=3001
MONGO_URI=mongodb://localhost:27017/mediassist
JWT_SECRET=your_jwt_secret_key_here
ML_SERVICE_URL=http://localhost:8000
CLIENT_URL=http://localhost:5000

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name_here
CLOUDINARY_API_KEY=your_cloudinary_api_key_here
CLOUDINARY_API_SECRET=your_cloudinary_api_secret_here
